<div
  class="row bg-inverse text-center mx-0 border-banner border-top-0 border-right-0 border-left-0"
>
  <div class="col-md-10">
    <h6 class="igx-primary-200-text">WELCOME TO</h6>
    <a href="https://www.kuka.com" target="_blank"
      ><img
        src="https://i.imgur.com/pmHlDVJ.png"
        height="500"
        width="750"
        alt="KUKA Logo"
    /></a>
  </div>
  <div class="col-md-2">
    <h6 class="igx-primary-200-text">
      MADE WITH
    </h6>
    <a href="https://www.kuka.com" target="_blank">
      <img
        src="https://i.imgur.com/2w8tsSZ.png"
        height="100"
        width="50"
        alt="Angular Logo"
    /></a>
  </div>
</div>
<!-- <div class="background"> -->
<div
  class="btn btn-block btn-danger border-buttons mx-auto font-weight-bold m-2 col-md-3"
>
  hello1
</div>
<div
  class="btn btn-block center-block btn-danger mx-auto border-buttons font-weight-bold m-2 col-md-3"
>
  hello2
</div>
<div
  class="btn btn-block center-block btn-danger mx-auto border-buttons font-weight-bold m-2 col-md-3"
>
  hello3
</div>
<!-- </div> -->
<div class="background" style="height: 100px; width= 300px;"></div>
